# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

Flask==1.1.1
bs4==0.0.1
Pillow==9.0.1
gunicorn==20.0.4
requests==2.22.0
